/* PHASE 12: Modal */
.modal {
  display: flex;
  justify-content: center;
  align-content: center;

}

.modal-screen{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
}

.modal-form{
  position: absolute;
  background-color: white;
  top: 300px;
  z-index: 3;
}

.modal-close {
  font-size: 36px;
  position: absolute;
}
