html, body, section, article, h1, h2, p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}
body {
  padding: 20px;
  font-family: sans-serif;
  font-weight: bold;
  background-size: contain;
}




h1, h3 {
  font-family: "Open sans";
  /*display: inline-block;*/
}

h1{
  /*margin-left: 30%;*/
  font-size: 20px;
}


.date{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-left: 30%;
  color:white;
  padding: 20px;
}

div{
  display: block;
  /*text-align: center;*/
}

.tabs-body {
  background-color: green;
  width: 500px;
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
}


article {
  background-color: red;
  height: 400px;
  width: 500px;
  padding: 20px;
  margin-left: 30%;
}

.tab {
  cursor: pointer;
}
